[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pytest = "*"
twine = "*"
pyinstaller = "*"
exceptiongroup = {version = "*", markers = "python_version < '3.11'"}

[packages]
GitPython = ">= 2.1.8"
colorama = ">= 0.3.9"

[requires]
python_version = "3"

[scripts]
lint = "pylint --disable=missing-docstring --output-format=colorized gitupdater"
cloc = "cloc --vcs=git"
build = "python setup.py sdist bdist_wheel --universal"
package = "pyinstaller --clean git-updater.spec"
